{% extends "layout/base.html" %} {% block content %}
<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Django</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dictum,
      sapien ac dapibus elementum, magna sapien placerat orci, vel imperdiet
      purus felis vel metus. Proin ut malesuada mi. In volutpat ipsum sed metus
      placerat, consequat pulvinar neque faucibus. Nam nibh ligula, dignissim
      vel sodales eu, vestibulum quis purus. Sed diam sem, venenatis sed lorem
      consectetur, dignissim suscipit magna. Pellentesque hendrerit odio et
      massa cursus, vitae lacinia augue efficitur. Aenean interdum sem leo, nec
      laoreet mi rutrum ut. Ut gravida neque eu lacus posuere dictum. Donec vel
      mauris vitae nisi tincidunt facilisis. Vestibulum ante ipsum primis in
      faucibus orci luctus et ultrices posuere cubilia curae; Vivamus id
      tincidunt urna. Mauris volutpat mauris vitae lacus fermentum, quis
      consectetur massa fringilla. Nulla facilisi. Nulla facilisi. Nulla
      facilisi.
    </p>
  </section>
</main>
{% endblock %}
